*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}

body{
	font-family:  'Roboto', sans-serif;
	font-size: 16px;
	background:#ECF0F1;
}
.container{
	width: 90%;	
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
/*------header-------*/
.header{
	background-image: url(img/bg-min.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	max-height: 600px;
	position: relative;
}
.container .menu{
	display:block;
	margin-top: 45px;
	display:flex;
	justify-content: space-around;

}
.container .menu li{
	list-style: none;
}
.container .menu a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.container .menu a:hover{
	border-bottom:1px solid #fff;
}
.container .borde{
	border:1px solid rgba(255,255,255,.5);
	width: 30%;
	margin: 200px auto;
}
.container .titulo{
	text-align: center;
	color: #fff;
	padding: 10px 0;
}
.container .sub-titulo{
	text-align: center;
	color: #fff;
	padding-bottom: 10px;
}
/*----wave-----*/
.wave{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;	
}
/*---barra-navegacion---*/
.redes-bar{
	display: flex;
	flex-direction: column;
	top: 280px;
	position: fixed;
	z-index: 2000;
}
.redes-bar a{
	color:#fff;
	display: inline-block;
	text-decoration: none;
	font-size: 23px;
	padding: 6px;
}
.redes-bar a:hover{
	background: #000;	
}
.twitter{
	background: #1da1f2; 
	border-radius: 0 7px 0 0;
}
.youtube{
	background: #cd201f;
}
.facebook{
	background: #3b5998;
}
.instagram{
	background: #666666;
	border-radius: 0 0 7px 0;
}
/*-----acerca-de-----*/
.acerca-de{
	width: 100%;
	height: 300px;
	line-height: 300px;
	background: #fff;
}
.perfil{ 
	object-fit: cover;
	display: flex;
	justify-content: center;
}
.perfil img{
	vertical-align: top;
	border-radius: 50%;
	border:5px solid rgba(255,255,255,0.2);
}
.acerca-de .titulo{
	text-align: center;
	color:#2E4053;
	padding:20px 0;
	font-size: 35px;
	line-height: 35px;
}
.acerca-de .Descripcion{
	text-align: center;
	font-size: 20px;
	line-height: 20px;
}
.acerca-de .orange{
	color:#dd820d;
}

/*-------post--------*/

.post {
	width: 90%;
	margin: 0 auto;
}
.post .titulo{
	text-align: center;
	color: #2E4053;
	padding:20px 0;
	font-size: 35px;
	border-bottom: 3px solid #2E4053;
}
.container-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
	border-bottom: 3px solid #2E4053;
}

.post .container-img img{
	height: 250px;
	padding: 10px;
	object-fit: cover;
}
.post .container-img img:hover{
	border:7px solid #ECF0F1;
}
/*-----conocimientos----*/
.contenedor{
	width: 100%;

}
 .contenedor .titulo{
	text-align: center;
	color: #000;
	padding:20px 0;
	font-size: 35px;
}
.contenedor .titulo2{
	text-align: center;
	color: #fff;
	padding:20px 0;
	font-size: 35px;
}
.contenedor .conocimientos{
	width: 50%;
	background:#2E4053;
	margin:0 auto;
	margin-bottom: 40px;
	border-radius: 10px;
	box-shadow: 9px 9px 8px;
}
.contenedor .conocimientos img{
	width: 190px;
	object-fit: cover;
	margin:0 72px 20px 72px;
}
.contenedor .conocimientos .color1:hover{
	background: #DC7633;
	border-radius: 10px;
}
.contenedor .conocimientos .color2:hover{
	background: #2E86C1;
	border-radius: 10px;
}


/*-------aside-------*/
.barra-lateral{
	width: 100%;
	background: #808B96;
}
.container .formulario-contacto .titulo{
	text-align: center;
	color: #fff;
	padding:20px 0;
	font-size: 33px;
}
.container .formulario-contacto{
	text-align: center;
	margin: 20px 0;
}
.container .formulario-contacto .form-input{
	width: 70%;
	padding: 5px 0;
	margin: 10px 0;
	border:none;
	border-radius: 10px;
	outline: none;
	text-align: center;
}
.container .formulario-contacto .form-btn{
	width: 40%;
	background: #2E86C1;
	color:#fff;
	border:none;
	outline: none;
	font-weight: 700;
	padding: 5px 0;
	margin: 20px 0;
	border-radius: 10px;
	border-bottom: 1px solid #fff;	
}
.container .formulario-contacto .form-btn:hover{
	background: #5DADE2;

}

/*-------footer------*/
.footer {
	width: 100%;
	padding: 10px 0;
	background: #2E4053;
	overflow: hidden;
	height: 90px;
	line-height: 90px;
}
.footer .container{
	text-align: center;
	color: #fff;
}
.footer .container .creador	{
	font-size: 20px;
}
@media screen and (max-width: 1345px){
	.contenedor .conocimientos{
		width: 25%
	}
	 .conocimientos .color1 .color2{
		display: flex;
		flex-direction: row;
	}
}
@media screen and (max-width: 1224px){
	.contenedor .conocimientos{
		width: 50%;
	}
	.container .borde {
		width: 60%;
	}
}
@media screen and (max-width: 1000px){
	.post .container-img{
		display: flex;
		justify-content: center;
	}
}
@media screen and (max-width: 768px){
	.container .borde {
		width: 60%;
	}
	.contenedor .conocimientos{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contenedor .conocimientos img{
		width: 150px;
		text-align: center;
	}
}
@media screen and (max-width: 425px){
	.container .menu{
		display: flex;
		flex-direction: column;
		background: rgba(255,255,255,.6);
		border-radius: 5px;
	}
	.acerca-de .titulo{
		font-size: 28px;
	}
	.acerca-de .Descripcion{
		font-size: 16px;
	}
	.post .titulo{
		font-size: 28px;
	}
	.contenedor .titulo{
		font-size: 28px;
	}
	.contenedor .titulo2{
		font-size: 28px;
	}
	.barra-lateral .container .formulario-contacto .titulo{
		font-size: 28px;
	}
	.container .menu a{
		color: #000; 
	}
	.wave{
		display: none;
	}

	.contenedor .conocimientos{
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contenedor .conocimientos img{
		width: 100px;
		text-align: center;
	}
}
@media screen and (max-width: 375px){
	.contenedor .conocimientos{
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contenedor .conocimientos img{
		width: 100px;
		text-align: center;
	}
}
@media screen and (max-width: 320px){
	.contenedor .conocimientos{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contenedor .conocimientos img{
		width: 100px;
		text-align: center;
	}}